.nav{
    position: fixed; /* Se mueve por toda la página web el menú .nav */
    background-color: #ffffff;
}

.logo-nav{
    width: 120px;
    height: 80px;
}

.items{
    margin-left: 20px;
}
.footer{
    padding-bottom: 1px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.footer-div{
    background-color: #181818;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-div1{
    background-color: #000000;
    padding-top: 10px;
}

.img-github{
    margin-left: 0px;
}

.img-instagram{
    margin-left: 10px;
}

.img-youtube{
    margin-left: 10px;
}